elasticsearch:
    hosts:
        - 'HOSTNAME HERE'
    args:
        use_ssl: true
        port: 443

redis:
    - host: 'HOSTNAME_1'
      port: 6379
    - host: 'HOSTNAME_2'
      port: 6379

script_args:
    poll_interval: 1
